
@font-face {
    font-family: "Lora";
    src: url("font/LoraRegular.eot");
    src: url("font/LoraRegular.eot?#iefix")format("embedded-opentype"),
    url("font/LoraRegular.woff") format("woff"),
    url("font/LoraRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lora";
    src: url("font/LoraBold.eot");
    src: url("font/LoraBold.eot?#iefix")format("embedded-opentype"),
    url("font/LoraBold.woff") format("woff"),
    url("font/LoraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Lora";
    src: url("font/Lora-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Lora";
    src: url("font/Lora-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}
