/*
	Description: Main style 
	Version: 1.0
	Author: Zoya Ovdienko
*/

/* -------------------------------------------- */
/*             TABLE OF CONTENTS
/* -------------------------------------------- */
/*  01 	-	Reset								*/
/*  01 	-	GENERAL								*/
/*  03  -   TYPOGRAPHY							*/
/*  04  -   FORM ELEMENTS						*/
/*  05  -   BUTTONS								*/
/*  06  -   LABELS								*/
/*  07  -   HEADER								*/
/*  08  -   PAGE CONTENT						*/
/*  09  -   SITE TITLE SECTION					*/
/*  10  -   FILTER FORM							*/
/*  11  -   RESTOURANTS							*/
/*  12  -   MASONRY GRID						*/
/*  13  -   NEWS								*/
/*  14  -   NEW SINGLE							*/
/*  15  -   LAST POSTS							*/
/*  16  -   SUBSCRIBE							*/
/*  17  -   SEARCH RESULT						*/
/*  18  -   SIDEBAR								*/
/*  19  -   RESTAURANT SINGLE PAGE				*/
/*  20  -   STAR RATING							*/
/*  21  -   USER PROFILE						*/
/*  22  -   RESTAURANT PROFILE					*/
/*  23  -   SUPPLIERS CATALOG					*/
/*  24  -   SUPPLIER SINGLE						*/
/*  25  -   PARTNERS							*/
/*  26  -   CONSALTING							*/
/*  27  -   CONTACTS							*/
/*  28  -   404 PAGE							*/
/*  29  -   FOOTER								*/
/*----------------------------------------------*/


/*----------------------------------------------------
	1. RESET
------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus {
	outline: none !important;
}

/*----------------------------------------------------
	2. GENERAL
------------------------------------------------------*/
body {
	font-size: 18px;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #363636;
}
img {
	max-width: 100%;
}

.animate {
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.row-middle {
	display: flex;
	align-items: center;
}
.row-bottom {
	display: flex;
	align-items: flex-end;
}
.row-10 {
	margin-left: -5px;
	margin-right: -5px;
}
.col-10 {
	padding-left: 5px;
	padding-right: 5px;
}
.badge {
	background: #F2F3F5;
	color: #222;
	font-size: inherit;
	font-weight: 500;
	border-radius: 100%;
	min-width: 40px;
	padding: 7px 5px 8px;
}
.event-to-show {
	display: none;
}

/*----------------------------------------------------
	3. TYPOGRAPHY
------------------------------------------------------*/
h1 {
	font-size: 50px;
	margin-bottom: 30px;
}
h2 {
	font-size: 35px;
	margin: 10px 0 30px;
}
h3 {
	font-size: 25px;
	margin-bottom: 10px;
	line-height: 29px;
}
h4 {
	font-size: 20px;
}
p {
	margin-bottom: 15px;
	line-height: 25px;
}
sup {
	font-size: smaller;
}
h2 sup {
	font-size: 18px;
	vertical-align: middle;
}
.lora {
	font-family: 'Lora', serif;
}
a {
	color: #fa5252;
}
a:hover,
a:focus {
	text-decoration: none;
	color: #000;
}
b {
	font-weight: 500;
}
.text a {
	color: #222;
	text-decoration: underline;
}
.text a:hover {
	color: #FF4E48;
}
.link {
	color: #FF5151;
}
.link:hover {
	color: #FF5151;
	text-decoration: underline;
}
blockquote {
	font-family: 'Lora', serif;
	color: #f24943;
	font-style: italic;
	border-left: 4px solid #f24943;
	font-size: 25px;
	line-height: 30px;
	width: 75%;
	margin-bottom: 30px;
	padding: 18px 0 10px 35px;
	word-break: break-word;
}
.double-header {
	display: table;
	width: 100%;
}
.double-header__btn,
.double-header__title {
	display: table-cell;
}
.double-header__btn {
	text-align: right;
}

/*----------------------------------------------------
	4. FORM
------------------------------------------------------*/
.form-group label {
	margin-bottom: 8px;
	color: #a1a1a1;
	font-weight: 300;
}
.form-group-checkbox label {
	margin-bottom: 15px;
}
.form-control {
	border: 1px solid #E2E2E2;
	background: transparent;
	border-radius: 5px;
	font-size: 18px;
	padding: 5px 10px;
	height: 40px;
	box-shadow: none;
	color: #212121;
}
textarea.form-control {
	resize: none;
}
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.form-group-inline {
	margin-bottom: 7px;
	display: table;
	width: 100%;
}
.input-group {
	z-index: 0;
}
.input-group.input-group-icon .form-control:first-child {
	border-radius: 4px 0 0 4px;
	border-right: none;
}
.input-group-icon .input-group-addon:last-child {
	background: none;
	border-color: #E2E2E2;
	color: #FF4640;
	font-size: 18px;
}
.input-group-icon .input-group-addon a {
	color: #FF4640;
}
.form-group-inline > * {
	vertical-align: middle;
	display: inline-block;
}
.form-group-inline label {
	margin-right: 10px;
}
.email-input {
	position: relative;
}
.email-input .form-control {
	padding: 10px 17px;
	padding-left: 45px;
	height: 60px;
}
.email-input:before {
	content: "\f422";
	font-family: "Ionicons";
	font-size: 25px;
	position: absolute;
	top: 18px;
	left: 15px;
}
select.chosen-select,
select.filter-select {
	height: 60px;
	background: transparent;
	border-radius: 4px;
	display: inline-block;
	width: 100%;
	padding: 10px;
	font-weight: 300;
}
.chosen-container {
	width: 100% !important;
}
.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
	border: 1px solid #E2E2E2;
	background: transparent;
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 10px 4px;
	color: #000;
	font-weight: normal;
	height: 40px;
	box-shadow: none;
}
.chosen-container-multi .chosen-choices {
	padding: 0 10px;
	padding-right: 30px;
}
.chosen-container-single .chosen-default {
	font-weight: 300;
	color: #a1a1a1;
}
.chosen-container-multi .chosen-choices li.search-choice {
	color: #555555;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: default;
	font-size: 16px;
	line-height: 1;
	margin: 7px 5px 7px 0;
}
.filter-select.chosen-container-single .chosen-single {
	border-color: #fff;
	padding: 17px;
	color: #fff;
	font-weight: 300;
	height: 60px;
}
.chosen-container-single .chosen-single div {
	margin-right: 5px;
}
.filter-select.chosen-container-single .chosen-single div {
	margin-right: 14px;
}
.chosen-container-single .chosen-single div b {
	background: none;
	line-height: 40px;
	font-weight: 300;
	color: #E2E2E2;
}
.filter-select.chosen-container-single .chosen-single div b {
	line-height: 60px;
	color: #fff;
}
.chosen-container-multi .chosen-choices:after,
.chosen-container-single .chosen-single div b:after {
	content: "\f3d0";
	font-family: "Ionicons";
	font-size: 18px;
}
.filter-select.chosen-container-single .chosen-single div b:after {
	font-size: 25px;
}
.chosen-container-multi .chosen-choices:after {
	color: #E2E2E2;
	position: absolute;
	right: 10px;
	top: calc(50% - 10px);
}
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-choices {
	border: 1px solid #E1E1E1;
	border-radius: 5px 5px 0 0;
	background: none;
	box-shadow: none;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	height: 40px;
	margin: 0;
	font-weight: 300;
	font-family: inherit;
}
.filter-select.chosen-container-active.chosen-with-drop .chosen-single {
	border-color: #fff;
}
.chosen-container-single .chosen-drop,
.chosen-container-multi .chosen-drop {
	background: #fff;
	border-color: #E2E2E2;
	box-shadow: none;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #E2E2E2;
}
.filter-select.chosen-container-single .chosen-drop {
	border: none;
	box-shadow: 2px 4px 20px 0px rgba(54, 54, 54, 0.35);
	border-color: #fff;
}
.form-grey .filter-select.chosen-container-single .chosen-drop {
	box-shadow: none;
	background: #F2F3F5;
	border: 1px solid #D8D8D8;
}
.chosen-container .chosen-results {
	color: #222;
	margin: 0;
	padding: 0;
}
.chosen-container .chosen-results li {
	font-size: 18px;
	padding: 10px 15px;
}
.chosen-container .chosen-results li.highlighted {
	background: #FFCACF;
	color: #000;
}
.rest-form-sett .select2 .select2-selection {
	min-height: 40px;
	box-shadow: none;
	border-color: #E2E2E2;
}
body .input-lg.select2-container--krajee .select2-selection--multiple .select2-selection__choice,
body .input-group-lg .select2-container--krajee .select2-selection--multiple .select2-selection__choice {
	padding: 0 5px 0 10px;
}
body .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
	margin-left: 5px;
}
.rest-form-sett .has-success .select2 .select2-selection  {
	border-color: #E2E2E2;
}
.rest-form-sett .select2 .selection .select2-selection__clear {
	color: #E2E2E2;
	opacity: 1;
	margin: 2px 10px 0 0;
}
.rest-form-sett .select2 .selection .select2-selection__arrow {
	height: 40px;
	border-left: none;
	top: 0;
}
.rest-form-sett .select2 .selection .select2-selection__arrow b {
	border: none;
	position: static;
	line-height: 40px;
	color: #E2E2E2;
}
.rest-form-sett .select2 .selection .select2-selection__arrow b:after{
	content: "\f3d0";
	font-family: "Ionicons";
	font-size: 18px;
}
.rest-form-sett .select2 .select2-selection__rendered {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
}
.ui-widget-header {
	background: #FF4E48;
	color: #fff;
	border: 1px solid #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default {
	border: none;
	font-size: 14px;
	line-height: 18px;
	color: #222;
	background: #f3f3f3;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	background: #ddd;
	color: #222;
}
.ui-state-active, .ui-widget-content .ui-state-active {
	background: #FFC8CB;
	color: #222;
}
.input-group .form-control:first-child {
	border-radius: 4px;
}
.input-group-btn:last-child>.btn {
	margin-left: 10px;
	border-radius: 4px;
	z-index: 1;
}
.input-group-btn>.btn {
	padding: 16px 28px 17px;
}
.input-group.light-style .btn {
	color: #000;
	border-color: #fff;
	background: #FFFFFF;

}
.input-group.light-style .btn:hover {
	background: transparent;
	color: #fff;
}
.light-style .form-control::-webkit-input-placeholder {
	color: #fff;
}
.light-style .form-control::-moz-placeholder {
	color: #fff;
}
.light-style .form-control:-moz-placeholder {
	color: #fff;
}
.light-style .form-control:-ms-input-placeholder {
	color: #fff;
}
.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}
.checkbox-box {
	position: relative;
}
.checkbox + label {
	cursor: pointer;
	color: #363636;
	font-weight: 400;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
	margin: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 30px;
	margin-bottom: 10px;
}
.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
}
.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #E2E2E2;
	transition: all .2s;
}
.checkbox:checked + label:before {
	content: "\f3fd";
	font-family: "Ionicons";
	color: #FF4740;
	text-align: center;
	font-size: 30px;
	line-height: 20px;
}
.checkbox:checked + label:after {
	left: 0;
}
.form-ranger .ui-widget.ui-widget-content {
	border: none;
	background: #E2E2E2;
	height: 4px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.form-ranger .ui-slider .ui-slider-range {
	background: #FFCACF;
}
.form-ranger .ui-widget-content .ui-state-default {
	background: #FF433C;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	top: -7px;
}
.ui-state-disabled.ui-slider .ui-slider-range,
.ui-state-disabled.ui-widget-content .ui-state-default {
	background: #D7D8DA;
}
.ui-state-disabled.ui-widget.ui-widget-content{
	background: #F1F1F1;
}
.min-label,
.max-label {
	position: absolute;
	top: -20px;
	font-size: 18px;
}
.money-slider .min-label:after,
.money-slider .max-label:after {
	content: '\eab9';
	font-family: "Icofont";
	color: #A2A2A2;
	font-size: 15px;
	vertical-align: bottom;
}
.min-label {
	right: 0;
}
.max-label {
	left: 0;
}
.form-ranger .ui-state-disabled .min-label, .form-ranger .ui-state-disabled .max-label {
	color: #d6d7d9;
}
.form-ranger .ui-state-disabled {
	opacity: 1;
}
.form-group-added {
	padding-top: 25px;
}
.ui-timepicker-div dl {
	text-align: center;
}
.ui-timepicker-div dl .ui_tpicker_hour,
.ui-timepicker-div dl .ui_tpicker_minute {
	width: 49%;
	float: left;
	display: block;
	margin: 0;
}
.ui-timepicker-div dl .ui_tpicker_hour {
	margin-right: 2%;
}
.ui-timepicker-div dl:after {
	content: '';
	display: table;
	clear: both;
}
.ui-spinner a.ui-spinner-button {
	right: 0px;
	width: 20px;
	cursor: pointer;
}
.ui-spinner a:after {
	font-size: 14px;
	line-height: 18px;
	font-family: "Ionicons";
}
.ui-spinner a.ui-spinner-down:after {
	content: "\f123";
}
.ui-spinner a.ui-spinner-up:after {
	content: "\f126";
}
.ui_tpicker_hour_label,
.ui_tpicker_minute_label {
	display: none;
}

/*----------------------------------------------------
	5. BUTTONS
------------------------------------------------------*/
.btn {
	font-size: 18px;
	font-weight: 500;
}
.btn-stroke {
	border: 1px solid #E2E2E2;
	background: transparent;
	border-radius: 5px;
	color: #000;
	padding: 16px 30px 17px;
}
.btn-stroke:hover {
	color: #fff;
	background-color: #FF4E48;
	border-color: #FF4E48;
}
.btn-primary {
	border: 1px solid #FF4E48;
	background: #FF4E48;
	border-radius: 5px;
	color: #ffffff;
}
.btn-primary:hover:active,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
	background-color: #B9231F;
	border-color: #B9231F;
	box-shadow: none;
}
.btn-link {
	color: #FF4E48;
	text-decoration: none;
	padding: 10px 10px;
	display: inline-block;
}
.btn-link:hover:active,
.btn-link:active,
.btn-link:hover {
	color: #FF4E48;
	text-decoration: underline;
}
.btn-default {
	background: #F2F3F5;
	color: #a1a1a1;
}
.btn-default:focus,
.btn-default:hover {
	background: #FF423B;
	color: #fff;
}
.btn-light {
	color: #a1a1a1;
	background-color: #F2F3F5;
	border-color: #F2F3F5;
	box-shadow: none;
}
.btn-light:hover:active,
.btn-light:active,
.btn-light:hover {
	border-color: #FF4E48;
	background: #FF4E48;
	border-radius: 5px;
	color: #ffffff;
}
.btn-sm {
	padding: 6px 21px;
}
.string-textarea {
	height: initial;
}
.btn-lg {
	padding: 18px 15px;
}
.form-btn {
	min-width: 220px;
}
.ui-datepicker {
	margin-top: 5px;
}
.ui-datepicker.right {
	margin-left: -112px;
	margin-bottom: 10px;
}
/*----------------------------------------------------
	6. LABELS
------------------------------------------------------*/
.label {
	color: #a1a1a1;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
}
.label.active,
.label:hover,
a.label:focus, a.label:hover {
	color: #000;
	background: #F2F3F5;
	border-color: #F2F3F5;
}
.label.active {
	font-weight: 400;
}

/*----------------------------------------------------
	7. HEADER
------------------------------------------------------*/
.page-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
}
.header-home {
	position: absolute;
	width: 100%;
}
.modal-open .header-home,
.modal-open .header-home .main-menu {
	padding-right: 17px;
}
.header-page {
	background: #090909;
	color: #fff;
	position: relative;
	padding-bottom: 67px;
}
/*----------------------------------------------------
	7.1 HEADER - Top bar
------------------------------------------------------*/
.top-bar {
	padding: 15px 0;
	border-bottom: 1px solid #4A362C;
}
.top-bar .row {
	justify-content: space-between;
}
/*------ SEARCH ----------*/
.search-form {
	position: relative;
}
.top-bar__search .search-form {
	max-width: 370px;
}
.top-bar__search .search-input {
	background: transparent;
	border: 1px solid #70625B;
	border-radius: 30px;
	padding: 7px 20px;
	color: #fff;
	width: 100%;
}
.top-bar__search .search-input::-webkit-input-placeholder {
	color: #fff;
	font-weight: 300;
}
.top-bar__search .search-input::-moz-placeholder {
	color: #fff;
	font-weight: 300;
}
.top-bar__search .search-input:-moz-placeholder {
	color: #fff;
	font-weight: 300;
}
.top-bar__search .search-input:-ms-input-placeholder {
	color: #fff;
	font-weight: 300;
}
.top-bar__search .search-btn {
	position: absolute;
	right: 15px;
	top: 7px;
	background: none;
	border: none;
	color: #fff;
	font-size: 25px;
}
/*------ LOGO ----------*/
.top-bar__logo img {
	width: 140px;
}

/*------ BUTTONS ----------*/
.top-bar__btns .btn-stroke {
	border: 1px solid #665751;
	background: none;
	background: transparent;
	color: #ffffff;
	font-weight: 300;
}
.top-bar__btns .btn-stroke:hover {
	color: #fff;
	background-color: #FF4E48;
	border-color: #FF4E48;
}
.top-bar__btns .btn {
	display: inline-block;
	padding: 6px 15px;
}
.top-bar__btns .btn + .btn {
	margin-left: 6px;
}
.top-bar__menu {
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.top-bar__menu .dropdown-toggle {
	display: inline-block;
	background: #3E261B;
	background: rgba(255,255,255,0.05);
	color: #fff;
	border-radius: 100%;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	width: 40px;
	text-align: center;
	font-size: 25px;
}
.open .dropdown-toggle,
.top-bar .dropdown-toggle:hover,
.top-bar .dropdown-toggle:focus {
	background: #91908C;
	background: rgba(255,255,255,0.35);
}
.top-bar .dropdown-menu {
	left: 0;
	margin: 15px 0 0;
	padding: 15px 20px;
	border: 1px solid #F2EDEE;
	border-radius: 3px;
}
.top-bar .dropdown-menu>li>a {
	padding: 3px 0;
	border-bottom: 1px solid #fff;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}
.top-bar .dropdown-menu>li>a:hover,
.top-bar .dropdown-menu>li>a:focus {
	border-color: #FFCBD2;
	background: none;
	color: #FF4039;
}
.header-page-result .top-bar__search .search-form {
	width: 80%;
	display: inline-block;
	margin-right: 15px;
}
.emp-login {
	line-height: 40px;
	color: #fff;
}
.emp-login:hover {
	color: #fff;
	border-bottom: 1px solid #FFCACF;
}

/*------ USER MENU ----------*/
.top-bar__user {
	display: inline-block;
	position: relative;
}
.profile-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
}
.profile-link {
	display: inline-block;
;
}
.profile-link a {
	color: #fff;
}
.top-bar__user .open .dropdown-toggle,
.top-bar__user .dropdown-toggle:hover,
.top-bar__user .dropdown-toggle:focus {
	background: none;
}
.profile-link a:hover {
	color: #FF423B;
	background: none;
}
.profile-link > a:after {
	content: "\f3d0";
	font-family: "Ionicons";
	font-size: 12px;
	padding-left: 5px;
}
.top-bar__user .dropdown-menu {
	right: 0;
	left: auto;
	top: 100%;
}
/*----------------------------------------------------
	7.2 HEADER - Main menu
------------------------------------------------------*/
.main-menu {
	text-align: center;
	margin-bottom: 0;
}
.main-menu {
	position: absolute;
	width: 100%;
	left: 0;
	top: -20px;
	margin-top: 108px;
	-webkit-transition: top 0.4s, background 0.6s;
	-o-transition: top 0.4s, background 0.6s;
	transition: top 0.4s, background 0.6s;
}
.header-home .main-menu {
	margin-top: 108px;
}
.main-menu.sticky {
	position: fixed;
	margin-top: 0 !important;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	background: #111111;
}
.main-menu .navbar-nav {
	float: none;
	display: inline-block;
}
.main-menu .nav>li {
	padding: 16px 30px;
}
.main-menu .nav>li>a {
	color: #fff;
	font-weight: 400;
	padding: 5px 0;
	background: none;
	position: relative;
}
.main-menu .nav>li>a:focus,
.main-menu .nav>li>a:hover {
	background: none;
	color: #FF4039;
}
.main-menu .nav>li>a:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	right: 50%;
	height: 1px;
	background: #FFCBD2;;
	transition: all ease 0.2s;
}
.main-menu .nav>li>a:hover:after {
	left: 0;
	right: 0;
	height: 1px;
}
.mob-menu {
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	float: right;
	margin: 3px 3px;
	position: relative;
	z-index: 1;
}
.mob-menu-wrap .logo {
	display: none;
}
.sticky .mob-menu-wrap .logo  {
	float: left;
	width: 90px;
	margin: 5px 0;
	display: block;
}
/*----------------------------------------------------
	8. PAGE CONTENT
------------------------------------------------------*/
.site-title,
.page-title {
	color: #fff;
}
.page-subtitle {
	color: #fff;
	font-size: 25px;
	line-height: 30px;
	font-weight: 300;
}
.block-title-white {
	color: #fff;
}
.page-title {
	height: 200px;
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	z-index: 1;
}
.page-title:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	opacity: 0.50;
	z-index: -1;
}
.page-title h1 {
	margin: 20px 0;
}
.page-title__back {
	position: absolute;
	color: #fff;
	top: 40%;
	top: calc(50% - 20px);
	border-color: #A7807C;
	border-color: rgba(255,255,255,0.25);
}

/*----------------------------------------------------
	9. SITE TITLE SECTION
------------------------------------------------------*/
.site-title {
	padding: 223px 0 65px;
	background: url('/img/site-title-bg.jpg') no-repeat;
	background-size: cover;
}
.site-title .filter-form {
	padding: 50px 50px;
}

/*----------------------------------------------------
	10. FILTER FORM
------------------------------------------------------*/
.search-result .grid-item {
	width: 33.33%;
}
.search-result .grid-item img {
	height: 250px;
}
.search-result .grid-sizer {
	width: 33.33%;
}
.search-rest-form {
	background: #F2F3F5;
}
.search-rest-form .filter-form {
	padding: 10px 0px;
}
.filter-form > * {
	float: left;
}
.filter-form .form-group {
	padding-right: 10px;
	position: relative;
	margin-bottom: 0;
}
.filter-form .form-control {
	padding-right: 40px;
	color: #fff;
	border-color: #E2E2E2;
	padding: 10px 17px;
	height: 60px;
	font-weight: 300;
}
.filter-form .form-control::-webkit-input-placeholder {
	color: #fff;
}
.filter-form .form-control::-moz-placeholder {
	color: #fff;
}
.filter-form .form-control:-moz-placeholder {
	color: #fff;
}
.filter-form .form-control:-ms-input-placeholder {
	color: #fff;
}
.filter-form__loc:after,
.filter-form__date:after {
	font-family: "Ionicons";
	position: absolute;
	right: 25px;
	top: 16px;
	color: #fff;
	font-size: 25px;
}
.filter-form__persons {
	width: 17%;
}
.filter-form__date {
	width: 21.5%;
}
.filter-form__time {
	width: 15.5%;
}
.filter-form__loc {
	width: 28%;
}
.filter-form__loc:after {
	content: "\f455";
	right: 18px;
	top: 18px;
}
.filter-form__date:after {
	content: "\f3d0";
	top: 18px;
}
.filter-form .btn {
	width: 18%;
	padding: 16px 10px 17px;
}

.form-grey .form-control::-webkit-input-placeholder {
	color: #acacac;
	font-weight: 300;
}
.form-grey .form-control::-moz-placeholder {
	color: #acacac;
	font-weight: 300;
}
.form-grey .form-control:-moz-placeholder {
	color: #acacac;
	font-weight: 300;
}
.form-grey .form-control:-ms-input-placeholder {
	color: #acacac;
	font-weight: 300;
}
.form-grey .filter-select.chosen-container-single .chosen-single {
	color: #ADADAD;
	border-color: #D8D8D8
}
.form-grey .filter-select.chosen-container-single .chosen-single div b,
.form-grey .filter-form__loc:after,
.form-grey .filter-form__date:after {
	color: #ADADAD;
}
.form-grey .form-control {
	border-color: #D8D8D8;
	color: #ADADAD;
}
.modal .form-grey {
	padding: 20px 0;
}
.modal .form-grey .form-control {
	color: #222;
}
.modal label {
	font-weight: 500;
}
.no-btn .filter-form__persons {
	width: 15.5%;
}
.no-btn .filter-form__date {
	width: 19.5%;
}
.no-btn .filter-form__time {
	width: 14.5%;
}
.no-btn .filter-form__loc {
	width: 50.5%;
	padding-right: 0;
}
.order-modal .form-control {
	height: 60px;
}
.order-modal .restaurant-like {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #DADADA;
	border-color: #DADADA;
}
.order-modal .order-btn {
	margin-bottom: 15px;
}
.modal .order-modal .form-grey {
	padding-bottom: 0;
}

/*----------------------------------------------------
	11. RESTOURANTS
------------------------------------------------------*/
.new-restaurants {
	padding: 41px 0 31px;
}
.restaur-list {
	display: flex;
	flex-wrap: wrap;
	margin: 30px -15px 0;
}
.new-restaurants  .restaur-list {
	margin: 44px -15px 0;
}
.restaurant-item {
	position: relative;
	margin: 0 15px 30px;
	width: calc(33.33% - 30px);
	background: #fff;
	border: 1px solid #ECECEC;
	border-radius: 5px;
}
.restaur-list.four-col .restaurant-item {
	width: calc(25% - 30px);
}
.new-restaurants .restaurant-item  {
	min-height: 475px;
}
.restaurant-item:hover {
	box-shadow: 0px 4px 12px 0px rgba(54, 54, 54, 0.25);
}
.restaurant-caption {
	padding-bottom: 93px;
}
.restaurant__head {
	padding: 10px 20px 20px;
}
.restaurant__title {
	margin-bottom: 5px;
}
.restaurant__title a {
	color: #000;
	border-bottom: 1px solid transparent;
}
.restaurant__title a:hover {
	border-bottom-color: #FFCACF;
}
.restaurant__text {
	color: #a1a1a1;
	line-height: 25px;
	font-weight: 300;
}
.restaurant__footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.restaurant__footer .btn {
	width: 100%;
	border: none;
	border-radius: 0 0 5px 5px;
	padding: 16px 10px 17px;
}

.restaurant__loc {
	color: #a1a1a1;
	padding: 0 20px 17px;
	font-weight: 300;
}
.restaurant__loc:before {
	content: "\f456";
	font-family: "Ionicons";
	margin-right: 5px;
	vertical-align: middle;
	color: #FF3E36;
	font-size: 16px;
}
.restaurant-img {
	position: relative;
}
.restaurant-img .restaurant-like,
.restaurant-img .restaurant-rating,
.restaurant-img .restaurant-comments {
	position: absolute;
}
.restaurant-like {
	font-size: 25px;
	border: 1px solid #fff;
	border-color: #FF4741;
	color: #fff;
}
.restaurant-like:focus,
.restaurant-like:active {
	border-color: #FF4741;
	color: #fff;
}
.restaurant-img .restaurant-like {
	top: 10px;
	left: 10px;
}
.restaurant-like:hover {
	border-color: #FF4741;
	color: #FF4741;
}
.restaurant-like:hover .ion-ios-heart-outline:before {
	content: "\f443";
	color: #fff;
}
.restaurant-like.active:hover,
.restaurant-like.active,
.restaurant-like.active:hover .ion-ios-heart-outline:before {
	background: #FF4741;
	border-color: #FF4741;
	color: #fff;
}
.restaurant-like.active .ion-ios-heart-outline:before{
	content: "\f443";
}
.restaurant-rating,
.restaurant-like {
	display: inline-block;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.restaurant-rating {
	color: #fff;
	background: #FF4741;
	line-height: 40px;
}
.restaurant-img .restaurant-rating {
	top: 10px;
	right: 10px;
}
.restaurant-comments {
	display: inline-block;
	left: 10px;
	bottom: 10px;
	font-size: 12px;
	color: #fff;
	background: #797A80;
	background: rgba(0,0,0,.25);
	border-radius: 4px;
	padding: 4px 6px 3px;
}
.restaurant-comments:hover {
	background: rgba(0,0,0,.55);
	color: #fff;
}
.restaurant-comments:before {
	content: "\f11e";
	font-family: "Ionicons";
	margin-right: 5px;
}
.load-more {
	display: block;
	width: 100%;
	border: 1px solid #ECECEC;
	color: #a1a1a1;
	text-align: center;
	padding: 15px 0;
	border-radius: 4px;
}
.show-box .load-more {
	margin-top: 15px;
}
.load-more:focus,
.load-more:hover {
	background: #FF4741;
	color: #fff;
}
.load-more-sm {
	padding: 5px 0;
}

/*----------------------------------------------------
	12. MASONRY GRID
------------------------------------------------------*/
.grid {
	margin: 0 -15px 15px;
}
.grid:after {
	content: '';
	display: table;
	clear: both;
}
.grid-item {
	width: 25%;
	float: left;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
.grid-item--width2 {
	width: 50%;
}
.grid-item--width3 {
	width: 33.33%;
}
.grid-sizer {
	width: 25%;
}
/*----------------------------------------------------
	13. NEWS
------------------------------------------------------*/
.last-news {
	padding: 30px 0 59px;
}
.news-list {
	margin-top: 44px;
}
.rest-news-list .news-list {
	margin-top: 15px;
}
.new-item {
	position: relative;
	overflow: hidden;
	display: block;
}
.new-item .new-item__thumb {
	overflow: hidden;
	border-radius: 5px;
}
.new-item img {
	object-fit: cover;
	width: 100%;
	height: 210px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.new-item:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.new-item__caption {
	width: 100%;
}
.grid-item-abs .new-item__caption {
	position: absolute;
	bottom: 0;
	padding: 20px;
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	border-radius: 0 0 5px 5px;
}
.grid-item-static .new-item__caption {
	padding: 10px 0 0;
}
.grid-item-abs .new-item__title {
	color: #fff;
	word-wrap: break-word;
}
.grid-item-static .new-item__title {
	color: #222;
}
.grid-item-static .new-item__title:hover {
	color: #FF5151;
}
.new-item__date {
	color: #AFB1B7;
}
.new-item__controls {
	margin-top: 20px;
}
.new-item__controls .btn {
	padding: 6px 13px;
	color: #363636;
}
.new-item__controls .btn + .btn {
	margin-left: 5px;
}
.more-btn {
	min-width: 220px;
}
.news {
	padding: 0 0 80px;
}
.news .grid-sizer {
	width: 10px;
}
.post-navigation {
	text-align: center;
}
.pagination>li {
	padding: 0 9px;
	display: inline-block;
}
.pagination>li>a,
.pagination>li>span {
	background: #fff;
	border-color: #E2E2E2;
	border-radius: 4px;
	color: #212121;
	padding: 17px 24px 16px;
	font-weight: 500;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	background: #F2F3F5;
	border-color: #F2F3F5;
	color: #212121;
}
.masonry-news .grid-item {
	height: 320px;
}
.masonry-news .grid-sizer {
	width: 10px;
}
.masonry-news .grid-item:nth-child(9n+1),
.masonry-news .grid-item:nth-child(9n+6) {
	width: 50%;
}
.masonry-news .grid-item:nth-child(9n+7),
.masonry-news .grid-item:nth-child(9n+8),
.masonry-news .grid-item:nth-child(9n+9) {
	width: 33.33%;
}
.masonry-news .new-item img {
	height: 320px;
}
/*----------------------------------------------------
	14. NEW SINGLE
------------------------------------------------------*/
.new-single__header {
	padding: 40px 0 25px;
}
.new-single__title {
	margin-bottom: 20px;
}
.new-single__date {
	color: #aeb0b5;
	margin-bottom: 25px;
}
.new-single__image {
	border-radius: 4px;
}
.new-single__content h1,
.new-single__content h2,
.new-single__content h3,
.new-single__content h4,
.new-single__content h5,
.new-single__content h6 {
	font-family: 'Lora', serif;
}
.new-single__content h3 {
	margin-bottom: 22px;
}
.new-single__content p {
	line-height: 30px;
	margin-bottom: 30px;
}
.other-news {
	padding: 0 0 50px;
}

/*----------------------------------------------------
	15. LAST POSTS
------------------------------------------------------*/
.last-posts {
	background: #181C22;
	padding: 62px 0 60px;
}
.post-list {
	margin-top: 34px;
	margin-bottom: 30px;
}
.post-item {
	position: relative;
}
.post-item img {
	margin-bottom: 10px;
	height: 155px;
	object-fit: cover;
	width: 100%;
	border-radius: 4px;
}
.post-item__tags {
	position: absolute;
	top: 10px;
	left: 25px;
	right: 25px;
	font-size: 12px;
}
.post-tag {
	display: inline-block;
}
.post-tag a {
	display: block;
	color: #fff;
	background: #FF4F55;
	border-radius: 20px;
	padding: 6px 16px 7px;
}
.post-tag a:hover {

}
.post-item__title {
	line-height: 27px;
}
.post-item__title a {
	color: #212121;
	border-bottom: 1px solid transparent;
}
.last-posts .post-item__title a {
	color: #fff;
}
.post-item__title a:hover {
	color: #e31c3d;
	border-bottom-color: #FFCACF;
}
.last-posts .post-item__title a:hover {
	color: #fff;
}
.last-posts .more-btn {
	color: #fff;
	border-color: #2D3236;
}

/*----------------------------------------------------
	16. SUBSCRIBE
------------------------------------------------------*/
.subscribe {
	background: #FF5151;
	color: #fff;
	padding: 36px 0;
}
.subscribe__title {
	margin-bottom: 15px;
}
.subscribe__text,
.subscribe .form-control {
	font-weight: 300;
}

/*----------------------------------------------------
	17. SEARCH RESULT
------------------------------------------------------*/
.restaurants-result {
	padding: 22px 0 90px;
}
.result-panel {
	display: table;
	width: 100%;
}
.sort,
.map-show {
	display: table-cell;
	vertical-align: middle;
}
.map-show .btn {
	border-color: #FF3D36;
	color: #FF3D36;
	padding: 6px 15px;
}
.map-show .btn.active {
	background-color: #FF4E48;
	color: #fff;
}
.rest-list-map {
	display: none;
	margin-top: 20px;
	border: 1px solid #E2E2E2;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.map-show .btn:hover {
	color:#fff;
}
.map-show .btn:before {
	content: "\f455";
	font-family: "Ionicons";
	margin-right: 10px;
	font-size: 25px;
	line-height: 18px;
	vertical-align: middle;
}
.sort-variant {
	display: inline-block;
}
.sort label {
	display: inline-block;
	margin-right: 14px;
	color: #a1a1a1;
}
.sort .label {
	margin-right: 9px;
	padding: 6px 16px 8px;
}
.m-branch {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	margin-right: 6px;
}
.m-branch:before,
.m-branch:after {
	content: '';
	position: absolute;
	border-radius: 100%;
}
.m-branch:before {
	width: 10px;
	height: 10px;
	top: 2px;
	left: 2px;
	background: #fff;
}
.m-branch:after {
	width: 6px;
	height: 6px;
	top: 4px;
	left: 4px;
}
.m-branch.red:after,
.m-branch.red {
	background: #E32F25;
}
.m-branch.green:after,
.m-branch.green {
	background: #00A849;
}
.m-branch.blue:after,
.m-branch.blue {
	background: #1C8CBE;
}
.metro-select .selected-station {
	min-height: 40px;
	height: auto;
	padding: 2px 10px 5px;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	cursor: pointer;
	overflow: hidden;
}
.metro-select.filter-dropdown-toggle:before {
	display: none;
}
.selected-station ul li {
	display: block;
	float: left;
	background: #E2E2E2;
	margin: 5px 5px 0 0;
	padding: 5px;
	font-size: 14px;
	border-radius: 4px;
	cursor: context-menu;
}
.selected-station .remove-item {
	margin-left: 5px;
	font-size: 10px;
	cursor: pointer;
}
.selected-station .remove-item:hover {
	color: #FF433C;
}
.selected-station .remove-item:after {
	content: "\f12a";
	font-family: "Ionicons";
}
.station-list.dropdown-menu {
	padding: 0;
}
.station-list li {
	position: relative;
	padding: 7px 10px;
	cursor: pointer;
}
.station-list li.active,
.station-list li:hover {
	background: #FDC9D1;
}
.search-content {
	padding-top: 40px;
}
/*----------------------------------------------------
	18. SIDEBAR
------------------------------------------------------*/
.sidebar {
	padding-top: 10px;
}

/*----------------------------------------------------
	19. RESTAURANT SINGLE PAGE
------------------------------------------------------*/
.rest-header {
	height: 455px;
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	z-index: 1;
}
.rest-header:after {
	content: '';
	background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
	opacity: 0.502;
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 100%;
	height: 260px;
	z-index: -1;
}
.rest-header__rating {
	font-size: 35px;
	height: 80px;
	width: 80px;
	line-height: 78px;
	margin-bottom: 15px;
}
.rest-header__title {
	color: #fff;
	margin-bottom: 45px;
	line-height: 60px;
}
.abs-box {
	position: absolute;
	background: #fff;
	border: 1px solid #ECECEC;
	border-radius: 4px;
	padding: 20px 20px 10px;
	box-shadow: 0px 4px 12px 0px rgba(54, 54, 54, 0.25);
}
.rest-header__order {
	top: -180px;
	z-index: 1;
	right: 15px;
	width: 370px;
}
.rest-header__order.sticky {
	position: fixed;
	top: 80px;
	width: 370px;
}
.rest-header__order.sticky-bottom {
	top: auto;
	bottom: 25px;
}
.ordex-box-fix {
	position: static;
}
.ordex-box-fix-wrap {
	position: relative;
}
.rest-header__order .form-control {
	padding: 10px 15px;
	height: 60px;
	font-weight: 300;
	color: #000000;
}
.rest-header__order .chosen-container-single .chosen-single span {
	color: #000000;
}
.rest-header__order .order-btn {
	margin: 20px 0 20px;
}
.rest-header__order .form-group {
	margin-bottom: 10px;
}
.rest-header__order .row .form-group {
	margin-bottom: 20px;
}
.rest-header__order .restaurant-like {
	color: #D9D9D9;
	border-color: #D9D9D9;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.rest-header__order .restaurant-like.active {
	border-color: #FF4741;
	color: #fff;
}
.rest-header__order .restaurant-like:hover {
	border-color: #FF4741;
	color: #FF4741;
}
.rest-content__gallery {
	margin: 20px -2px 15px;
}
.rest-gall {
	display: inline-block;
	width: 25%;
	float: left;
	padding: 0 2px;
	margin-bottom: 2px;
}
.rest-content__tags .label {
	padding: 9px 14px 11px;
	margin-right: 7px;
	margin-bottom: 10px;
	color: #000;
	font-weight: normal;
}
.rest-content__tags .label:hover {
	border-color: #999;
}
.rest-content__desc {
	padding: 20px 0 0;
}
.rest-content__desc h3 {
	margin-bottom: 25px;
}
.rest-description {
	font-weight: normal;
}
.rest-description p {
	margin-bottom: 25px;
}
.rest-content__map {
	position: relative;
	margin: 40px 0;
}
.rest-content__menu {
	margin-bottom: 20px;
}
.show-menu-btn {
	margin-bottom: 10px;
}
.map-address {
	position: absolute;
	top: 12px;
	left: 11px;
	background: #F2F3F5;
	color: #000;
	padding: 16px;
	z-index: 1;
}
.map-address:before {
	content: "\f456";
	font-family: "Ionicons";
	margin-right: 10px;
	vertical-align: middle;
	color: #FF4741;
	font-size: 25px;
}
#rest-map {
	width: 100%;
	height: 430px;
	border: 1px solid #ECECEC;
}
.rest-content__reviews {
	padding: 25px 0;
}
.rest-content__reviews h3 {
	margin-bottom: 25px;
}

.review-item {
	border: 1px solid #ECECEC;
	border-radius: 4px;
	margin-bottom: 30px;
}
.review-item__header {
	border-bottom: 1px solid #ECECEC;
	padding: 20px 20px 30px;
}
.review-item__text {
	font-weight: 300;
}
.review-item__title {
	display: table;
	margin-bottom: 20px;
}
.review-item__avatar {
	display: table-cell;
	width: 75px;
	border-radius: 100%;
}
.review-item__name {
	font-weight: 700;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding-left: 20px;
}
.review-item__footer {
	padding: 10px 20px 15px;
}
.review-item__footer .form-group-inline label {
	width: 45%;
	text-align: right;
}
.review-item.no-login {
	padding: 50px 20px;
}
.review-item__text textarea {
	border: none;
	padding: 0;
	width: 100%;
	resize: none;
}
.add-review {
	margin-bottom: 10px;
}
.add-review .review-item__header {
	padding-bottom: 0;
}
.add-review .review-item__footer .form-group-inline {
	width: 50%;
	float: left;
}
.add-review .review-item__footer .form-group-inline label {
	text-align: left;
}
.stars-rew .star {
	color: #FF5151;
	font-size: 25px;
	cursor: pointer;
	display: inline-block;
	float: left;
	padding: 0 3px;
}
.stars-rew .star.ion-ios-star-outline {
	color: #D3D3D3;
}
.similar-rest {
	padding: 30px 0 60px;
}

/*----------------------------------------------------
	20. STAR RATING
------------------------------------------------------*/
.star-rating {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}
.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
	font-size: 33px;
	z-index: 2;
}
.star-rating:before,
.star-rating span:before {
	content: "\f4b2\00a0\f4b2\00a0\f4b2\00a0\f4b2\00a0\f4b2";
	font-family: "Ionicons";
	color: #FF4E48;
	font-size: 25px;
	z-index: 1;
	padding: 0 4px;
}
.star-rating span:before {
	content: "\f4b3\00a0\f4b3\00a0\f4b3\00a0\f4b3\00a0\f4b3";
	position: absolute;
	top: 0;
	left: 0;
}
.rest-header__order-rating .form-group-inline label {
	margin-right: 2px;
}

/*----------------------------------------------------
	21. USER PROFILE
------------------------------------------------------*/
.profile-header {
	background: #F2F3F5;
	padding: 25px 0 85px;
}
.profile-header__thumb {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
}
.profile-header__thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profile-header__title {
	margin: 33px 0 22px;
}
.profile-header__mail {
	color: #a1a1a1;
	font-size: 35px;
	font-weight: 300;
}
.profile-header__btn {
	color: #fff;
	border-color: #6B6663;
}
.rest-profile-header {
	height: 280px;
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.rest-profile-header:after {
	content: '';
	background-color: rgb(17, 17, 17);
	opacity: 0.7;
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 100%;
	height: 280px;
	z-index: -1;
}
.rest-profile-header .profile-header__title {
	color: #fff;
}
.profile-tabs {
	position: relative;
	top: -59px;
	z-index: 2;
}
.profile-tabs label {
	color: #a1a1a1;
}
.nav-tabs {
	border-bottom: none;
}
.nav-tabs>li>a {
	padding: 17px 15px 16px;
	border-color: #E2E2E2;
	border-bottom: none;
	margin-right: 11px;
	color: #363636;
	font-weight: 400;
}
.nav-tabs>li>a:hover {
	border-color: #fff;
	background: #fff;
}
.rest-tabs>li>a {
	color: #fff;
}
.rest-tabs>li>a:hover {
	color: #363636;
}
.profile-tabs .nav-tabs>li>a {
	min-width: 230px;
	text-align: center;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-color: #fff;
}
.tab-content>.tab-pane {
	padding: 32px 0;
}
.form-group {
	position: relative;
}
.change-pass {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 300;
}
.submit-btn {
	min-width: 150px;
	text-align: center;
}
.submit-btn + .btn {
	margin-left: 7px;
}
.form-upload {
	position: relative;
}
.upload-thumb {
	text-align: center;
}
.upload-thumb-avatar {
	width: 160px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.upload-thumb-rest {
	width: 370px;
	height: auto;
	overflow: hidden;
}
.upload-thumb img {
	border-radius: 100%;
	padding: 5px;
}
.restaurant-profile-img img {
	border-radius: 0;
	padding: 0;
}
.upload-btn {
	position: relative;
	border: 1px solid #E2E2E2;
	padding: 10px 10px;
	text-align: center;
	border-radius: 4px;
	margin: 10px 0 30px;
	font-weight: 400;
}
.upload-btn .help-block {
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 16px;
}
.upload-avatar {
	width: 120px;
	margin: 15px auto 0;
}
.upload-menu {
	width: 210px;
}
.upload-gall {
	width: 270px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
}
.upload-btn:hover {
	background: #FF5151;
	color: #fff;
	border-color: #FF5151;
}
.upload-btn [type=file] {
	cursor: pointer;
	display: block;
	font-size: 0;
	filter: alpha(opacity=0);
	height: 40px;
	width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	left: 0;
	text-align: right;
	top: 0;
}

/*----------------------------------------------------
	22. RESTAURANT PROFILE
------------------------------------------------------*/
.schedule-day {
	display: table;
	width: 100%;
	margin-bottom: 15px;
}
.schedule-day__checkbox,
.schedule-day__ranger {
	display: table-cell;
	float: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.schedule-day__checkbox {
	width: 100px;
}
.schedule-day__checkbox label {
	font-weight: 400;
	color: #363636;
}
.menu-file-title {
	font-weight: 300;
}
.menu-upload {
	margin-top: 30px;
	width: 370px;
}

.gall-list-upload {
	margin: 10px 0 10px;
	display: flex;
	flex-wrap: wrap;
}
.gall-upload-item {
	position: relative;
	display: grid;
	width: 190px;
	float: left;
	min-height: 97px;
	margin-right: 3px;
	margin-bottom: 3px;
	background: #ECECEC;
}
.gall-upload-item:nth-child(4n+4) {
	margin-right: 0;
}
.upload-state {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: calc(50% - 14px);
	color: #aeb0b5;
}
.upload-close {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #FF4640;
	background: #fff;
	border-radius: 100%;
	display: block;
	height: 16px;
	width: 16px;
	text-align: center;
	font-size: 25px;
}
.upload-close:hover {
	color: #FFCACF;
	background: #000;
}
.upload-close:before {
	position: relative;
	right: 2px;
	top: -4px;
}

/*----------------------------------------------------
	23. SUPPLIERS CATALOG
------------------------------------------------------*/
.suppliers {
	padding: 44px 0 20px;
}
.suppliers .sidebar {
	padding-top: 30px;
}
.suppliers-list {
	padding: 30px 0 0;
}
.supplier-item {
	display: table;
	width: 100%;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}
.supplier-item:hover {
	box-shadow: 0px 4px 12px 0px rgba(54, 54, 54, 0.25);
}
.supplier-item__content,
.supplier-item__thumb {
	display: table-cell;
	vertical-align: top;
}
.supplier-item__thumb {
	width: 270px;
}
.supplier-item__thumb img {
	display: block;
}
.supplier-item__content {
	padding: 15px 20px 15px 30px;
}
.supplier-item__title {
	margin-bottom: 5px;
}
.supplier-item__title a {
	color: #363636;
}
.supplier-item__title a:hover {
	color: #ed4039;
}
.supplier-item__desc {
	color: #a1a1a1;
	margin-bottom: 4px;
	line-height: 25px;
	font-weight: 300;
}
.supplier-item__contacts li {
	display: inline-block;
	margin-right: 22px;
	line-height: 30px;
}
.supplier-item__contacts li a {
	color: #363636;
}
.supplier-item__contacts li:before {
	font-family: "Ionicons";
	font-size: 18px;
	margin-right: 5px;
	color: #ed4039;
	text-align: center;
	width: 18px;
	display: inline-block;
}
.supplier-item__contacts li.email:before {
	content: "\f10f";
}
.supplier-item__contacts li.phone:before {
	content: "\f3a2";
}
.supplier-item__contacts li.web:before {
	content: "\f390";
	margin-right: 9px;
}
.supplier-item__contacts li.email a {
	text-decoration: underline;
}

/*----------------------------------------------------
	24. SUPPLIER SINGLE
------------------------------------------------------*/
.supplier-content {
	margin-bottom: 65px;
}
.supplier-header {
	height: 355px;
}
.supplier-contacts {
	margin-top: 0px;
	padding: 26px 20px 10px;
	width: 100%;
}
.supplier-contacts .supplier-item__contacts {
	margin-top: 20px;
}
.supplier-contacts .supplier-item__contacts li {
	display: block;
	margin: 0 0 10px;
}
.supplier-products {
	padding: 22px 0 25px;
}
.products-list {
	margin-top: 23px;
}
.product-item {
	margin-bottom: 23px;
}
.product-item:nth-child(4n+5) {
	clear: left;
}
.product-item__title {
	line-height: 25px;
	margin-top: 10px;
}

/*----------------------------------------------------
	25. PARTNERS
------------------------------------------------------*/
.partners {
	padding: 40px 0 100px;
}
.partners-list .post-item {
	margin-bottom: 30px;
}
.partners-list .post-item__title {
	color: #212121;
}
.partners-list .post-item__title:hover {
	color: #FF4F55;
	border-bottom: 1px solid #F7C9CB;
}
.partners-list .post-item:nth-child(4n+5) {
	clear: left;
}

/*----------------------------------------------------
	26. CONSALTING
------------------------------------------------------*/
.consulting-content {
	padding: 42px 0 55px;
}
.consulting-content h2 {
	margin-bottom: 40px;
}
.consulting-content h3 {
	margin-bottom: 25px;
}
.consulting-content p {
	line-height: 30px;
	margin-bottom: 30px;
}
.consulting-content img {
	margin-bottom: 30px;
}

/*----------------------------------------------------
	27. CONTACTS
------------------------------------------------------*/
.contacts {
	padding: 40px 0 60px;
}
.contact-info {
	padding-top: 28px;
}
.contact-info h3 {
	margin-bottom: 25px;
}
.contact-info p {
	margin-bottom: 30px;
	line-height: 29px;
}

/*----------------------------------------------------
	28. 404 PAGE
------------------------------------------------------*/
.page-not-found {
	padding: 70px 0 170px;
	background: url('/img/404.jpg') no-repeat 50%;
	background-size: cover;
}
.page-not-found a {
	color: #363636;
	text-decoration: underline;
}
.page-not-found a:hover {
	color: #FF5151;
}
/*----------------------------------------------------
	29. AUTH
------------------------------------------------------*/
.reg-tabs {
	text-align: center;
	margin: 0 auto 20px;
}
.reg-tabs li {
	width: 50%;
}
.reg-tabs li a {
	padding: 10px 20px;
	color: #9F9F9F;
	margin: 0;
	font-size: 16px;
	border: 1px solid #EEEEEE;
	box-shadow: none;
	border-radius: 0;
}
.reg-tabs li:hover a,
.reg-tabs li.active a,
.reg-tabs li.active a:hover,
.reg-tabs li.active a:active,
.reg-tabs li.active a:focus {
	color: #111;
	border-color: #EEEEEE;
}
.reg-tabs li:first-child a:hover,
.reg-tabs li:first-child a:focus {
	border-right: none;
}
.reg-tabs li:first-child a {
	border-right: none;
	border-radius: 4px 0 0 4px;
}
.reg-tabs li:last-child a {
	border-radius: 0 4px 4px 0;
}
.reg-tabs a span {
	font-size: 22px;
	margin-right: 10px;
	vertical-align: middle;
}
.modal-body {
	padding-bottom: 30px;
}
.reg-tabs + .tab-content .tab-pane {
	padding-top: 0;
}
/*----------------------------------------------------
	29. FOOTER
------------------------------------------------------*/
.page-footer {
	padding: 45px 0 37px;
}
.footer-menu {
	width: 50%;
	float: left;
}
.footer-menu li {
	margin-bottom: 12px;
}
.footer-menu li a {
	color: #a1a1a1;
	font-weight: normal;
	border-bottom: 1px solid transparent;
}
.footer-menu li a:hover {
	color: #000;
	border-bottom-color: #FFCACF;
}
.footer-social {
	margin-bottom: 85px;
	font-weight: 300;
}
.social-list {
	margin: 0 -11px;
}
.social-list li {
	padding: 0 11px;
}
.social-list a {
	color: #a1a1a1;
	font-size: 25px;
}
.footer-copy {
	font-weight: 300;
}
.footer-copy sup {
	font-size: 10px;
}
.to-top {
	background: #F2F3F5;
	color: #A2A2A2;
	text-align: center;
	padding: 17px 0;
	font-size: 25px;
}
.to-top:hover {
	cursor: pointer;
	background: #FF5151;
	color: #fff;
}
.filter-dropdown-toggle:before {
	content: '';
	position: absolute;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	line-height: 40px;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50px;
}
.filter-dropdown-toggle {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	border: 1px solid #E2E2E2;
	background: transparent;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px;
	color: #000;
	font-weight: normal;
	height: 40px;
	box-shadow: none;
	cursor: pointer;
}
.filter-dropdown-toggle:after {
	content: "\f3d0";
	font-family: "Ionicons";
	font-size: 18px;
	color: #E2E2E2;
	position: absolute;
	right: 13px;
	top: calc(50% - 9px);
}
.filter-dropdown-toggle.cropped:before {
	content: '...';
	position: absolute;
	background: #fff;
	line-height: 40px;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50px;
}
.filter-dropdown {
	max-height: 200px;
	overflow-y: auto;
	z-index: 1;
	padding: 10px;
	margin: 5px 0 0;
	box-shadow: none;
	border-color: #E2E2E2;
	width: 100%;
	font-size: 18px;
}
.filter-link {
	margin-bottom: 10px;
	cursor: pointer;
}
.filter-link a {
	color: #363636;
	font-weight: 400;
	vertical-align: middle;
}
.filter-link__checkbox {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #E2E2E2;
}
.filter-link__checkbox.active:after {
	content: "\f3fd";
	font-family: "Ionicons";
	color: #FF4740;
	text-align: center;
	font-size: 30px;
	line-height: 20px;
}

