/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .site-title .filter-form {
        padding: 50px 0;
    }
    .new-restaurants .restaurant-item {
        min-height: auto;
    }
    .header-page-result .top-bar__search .search-form {
        width: 75%;
    }
    .emp-login {
        font-size: 16px;
    }
    .header-page-result .top-bar__btns .btn {
        padding: 6px 8px;
    }
    .sort .label {
        margin-right: 3px;
        padding: 6px 5px 8px;
        font-size: 16px;
    }
    .map-show .btn {
        padding: 1px 8px;
    }
    .favorites-list.restaur-list.four-col .restaurant-item {
        width: calc(33.33% - 30px);
    }
    .similar-rest .restaur-list.four-col .restaurant-item,
    .restaurants-result .restaurant-item {
        width: calc(50% - 30px);
    }
    .favorites-list.restaur-list.four-col .restaurant-item img,
    .similar-rest .restaur-list.four-col .restaurant-item img {
        width: 100%;
    }
    .rest-header__order.sticky,
    .rest-header__order {
        width: 300px;
    }
    .news .grid-sizer {
        width: 1px;
    }
    .news .grid-item,
    .news .grid-item--width3 {
        width: 50%;
    }
    .news .grid-item--width3 {
        width: 33.33%;
    }
    .profile-header__title {
        font-size: 45px;
    }
    .profile-header__mail {
        font-size: 30px;
    }
    .profile-tabs .nav-tabs>li>a {
        min-width: inherit
    }
    .rest-profile-header {
        height: 320px;
    }
    .gall-upload-item {
        width: 176px;
        min-height: 90px;
    }
    .gall-upload-item:nth-child(4n+4) {
        margin-right: 4px;
    }
    .gall-upload-item:nth-child(3n+3) {
        margin-right: 0;
    }
    .supplier-item__thumb {
        width: 220px;
    }
    .supplier-item__contacts li,
    .supplier-item__desc {
        font-size: 16px;
        line-height: 20px;
    }
    .supplier-item__desc {
        margin-bottom: 10px;
    }
    .supplier-item__content {
        padding: 5px 10px 5px 20px;
    }
    .supplier-item__title {
        font-size: 20px;
    }
    .supplier-contacts {
        margin-top: 100px;
    }
    .product-item img {
        width: 100%;
    }
    .partners-list .post-item:nth-child(4n+5),
    .product-item:nth-child(4n+5) {
        clear: none;
    }
    .partners-list .post-item:nth-child(3n+3)
    .product-item:nth-child(3n+3) {
        clear: right;
    }
    .top-bar__btns .btn {
        padding: 5px 10px;
        font-size: 16px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .gall-upload-item:nth-child(3n+3) {
        margin-right: 4px;
    }
    .rest-form-sett {
        margin-top: 40px;
    }
    .top-bar__btns .btn {
        padding: 5px 9px;
        font-size: 14px;
    }
    .top-bar__btns .btn + .btn {
        margin-left: 0;
    }
    .news .grid-item--width2 {
        width: 100%;
    }
    .news .grid-item--width3 {
        width: 50%;
    }
    .main-menu .nav>li {
        padding: 6px 17px;
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
    }
    .page-subtitle {
        font-size: 20px;
        line-height: 25px;
    }
    .filter-select,
    .filter-form .form-control,
    .chosen-container-single .chosen-single span {
        font-size: 16px;
    }
    .filter-form__loc:after, .filter-form__date:after {
        font-size: 17px;
        right: 20px;
        top: 21px;
    }
    .filter-select.chosen-container-single .chosen-single div b:after {
        font-size: 18px;
    }
    .filter-select.chosen-container-single .chosen-single div {
        margin-right: 3px;
    }
    .chosen-container-single .chosen-single span {
        margin-right: 6px;
    }
    .filter-form .btn {
        width: 20%;
        font-size: 16px;
        padding: 18px 10px 19px;
    }
    .filter-form__date {
        width: 19.5%;
    }
    .favorites-list.restaur-list.four-col .restaurant-item,
    .new-restaurants .restaurant-item {
        width: calc(50% - 30px);
    }
    .grid-item {
        width: 50%;
    }
    .post-item {
        margin-bottom: 30px;
    }
    .post-item img {
        width: 100%;
    }
    .subscribe .row-middle {
        display: block;
    }
    .page-footer {
        font-size: 16px;
    }
    .footer-social {
        margin-bottom: 30px;
    }
    .social-list li {
        padding: 0 5px;
    }
    .social-list {
        margin: 0 -5px;
    }
    .footer__social-copy {
        padding-left: 0;
    }
    .sidebar {
        margin-bottom: 50px;
    }
    .top-bar__search .search-input {
        font-size: 16px;
    }
    .top-bar__search .search-btn {
        top: 3px;
    }
    .header-page-result .top-bar__search .search-form {
        margin-right: 5px;
        width: 74%;
    }
    .header-page-result .top-bar__btns .btn {
        margin-left: 4px;
    }
    .emp-login {
        width: 90px;
        line-height: 15px;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        font-size: 14px;
    }
    .header-page .main-menu {
        margin-top: 100px;
    }
    .max-label {
        left: auto;
        right: 0;
    }
    .min-label {
        right: auto;
        left: 0;
    }
    .abs-box {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        margin-top: 40px;
    }
    blockquote {
        width: 100%;
    }
    .suppliers .sidebar {
        padding-top: 0;
    }
    .supplier-contacts {
        position: relative;
        top: 40px;
        margin-top: 0;
    }
    .supplier-header {
        margin-bottom: 50px;
        height: 300px;
    }
    .supplier-header .rest-header__title {
        margin-bottom: 0;
    }
    .partners-list .post-item:nth-child(3n+3)
    .product-item:nth-child(3n+3) {
        clear: none;
    }
    .partners-list .post-item:nth-child(odd),
    .product-item:nth-child(odd) {
        clear: left;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main-menu .navbar-nav {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        padding: 30px 20px;
        background: #FF4E48;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        margin: 0;
        z-index: 999;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    #rest-map {
        height: 300px;
    }
    .main-menu .navbar-nav.mob-opened {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .main-menu .nav>li {
        padding: 6px 30px;
    }
    .main-menu .nav>li>a:after {
        content: none;
    }
    .main-menu .navbar-nav li a:hover {
        color: #000;
    }
    .footer__social-copy {
        padding-left: 15px;
    }
    .page-footer {
        text-align: center;
    }
    .footer__logo {
        margin-bottom: 30px;
    }
    .footer-menu {
        text-align: left;
        margin-bottom: 30px;
    }
    .footer-menu:last-child {
        padding-left: 15px;
    }
    .footer-menu:first-child {
        padding-right: 15px;
        text-align: right;
        border-right: 1px solid #212121;
    }
    .header-page-result .top-bar__btns .btn {
        padding: 6px 7px;
        margin-left: 2px;
        font-size: 14px;
    }
    .top-bar__logo img {
        width: 100px;
    }
    .header-page .main-menu {
        margin-top: 100px;
    }
    .rest-gall {
        width: 33.33%;
    }
    .ui-datepicker.right {
        margin-left: 0;
    }
    .news .grid-item--width3 {
        width: 100%;
    }
    .page-title__back {
        left: 15px;
    }
    .header-home .main-menu,
    .header-page .main-menu {
        margin-top: 150px;
    }
    .top-bar .row {
        display: block;
    }
    .top-bar__search .search-input {
        font-size: 16px;
    }
    .top-bar__logo,
    .top-bar__search {
        margin-bottom: 20px;
    }
    .top-bar__btns {
        text-align: center;
    }
    .top-bar__btns .btn,
    .top-bar__menu,
    .top-bar__user {
        z-index: 2;
        position: relative;
    }
    .header-page {
        padding-bottom: 0;
    }
    .header-page-result .top-bar__search .search-form {
        width: calc(100% - 50px);
    }
    .header-page-result .top-bar__menu {
        margin-right: 0;
        z-index: 3;
    }
    .header-page-result .top-bar .dropdown-menu {
        right: 0;
        left: auto;
    }
    .emp-login {
        text-align: center;
    }
    .header-page-result .top-bar__btns .btn {
        margin-left: 6px;
    }
    .form-upload {
        margin-bottom: 30px;
    }
    .profile-header {
        text-align: center;
    }
    .rest-profile-header {
        height: auto;
        padding: 25px 0 35px;
    }
    .profile-header__title {
        font-size: 30px;
    }
    .profile-header__mail {
        font-size: 24px;
    }
    .nav-tabs>li {
        float: none;
        margin: 0 0 5px;
    }
    .profile-tabs {
        top: 0;
        margin-top: 10px;
    }
    .nav-tabs>li>a {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #363636;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li>a:hover {
        border-color: #FA5252;
    }
    .supplier-item__thumb {
        width: 100%;
    }
    .supplier-item,
    .supplier-item__content,
    .supplier-item__thumb {
        display: block;
    }
    .supplier-item__thumb img {
        display: block;
        width: 100%;
    }
    .partners-list .post-item:nth-child(odd),
    .product-item:nth-child(odd) {
        clear: none;
    }
    .page-not-found {
        padding: 70px 0 70px;
    }

}
@media only screen and (max-width : 750px) {
    .filter-form__persons,
    .filter-form__date,
    .filter-form__time {
        width: 33.33%;
    }
    .site-title__form .filter-form__time {
        padding-right: 0;
    }
    .filter-form .form-group {
        margin-bottom: 10px;
    }

    .filter-form .btn {
        width: 160px;
    }
    .filter-form__loc {
        width: calc(100% - 160px);
    }


    .favorites-list.restaur-list.four-col .restaurant-item,
    .new-restaurants .restaurant-item {
        width: calc(100% - 30px);
    }
    .restaurant-img img {
        width: 100%;
    }
    .post-item,
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
    .no-btn .filter-form__date,
    .no-btn .filter-form__persons {
        width: 50%;
    }
    .no-btn .filter-form__date {
        padding-right: 0;
    }
    .no-btn .filter-form__time {
        width: 30%;
    }
    .no-btn .filter-form__loc {
        width: 70%;
    }
    .similar-rest .restaur-list.four-col .restaurant-item,
    .restaurants-result .restaurant-item {
        width: calc(100% - 30px);
    }
    .sort label {
        display: block;
        margin-bottom: 10px;
    }
    .sort, .map-show {
        display: table-cell;
        vertical-align: bottom;
    }
    .add-review .review-item__footer .form-group-inline {
        width: 100%;
        float: none;
        text-align: center;
    }
    .news .grid-item,
    .news .grid-item--width3 {
        width: 100%;
    }
    .pagination>li>a,
    .pagination>li>span {
        padding: 5px 13px;
    }
}
@media only screen and (max-width : 570px) {
    .sort, .map-show, .result-panel {
        display: block;

    }
    .sort .label {
        margin-bottom: 5px;
    }
    .map-show {
        text-align: left;
        margin-top: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .filter-form__persons,
    .filter-form__date {
        width: 50%;
    }
    .filter-form__time {
        width: 30%;
    }
    .filter-form__loc {
        width: 70%;

    }
    .filter-form .filter-form__date,
    .filter-form .filter-form__loc {
        padding-right: 0;
    }
    .filter-form .filter-form__time {
        padding-right: 10px;
    }
    .header-page .top-bar__btns {
        padding-right: 60px;
    }
    .header-page-result .top-bar__btns {
        padding-right: 0;
    }
    .filter-form .btn {
        width: 100%;
    }
    .top-bar__menu {
        float: left;
    }
    .header-page-result .top-bar__menu {
        float: none;
    }
    .header-home .top-bar__btns {
        padding-right: 61px;
    }
    .subscribe .input-group {
        display: block;
    }
    .subscribe .input-group-btn {
        display: block;
        white-space: normal;
        width: 100%;

    }
    .subscribe  .input-group-btn:last-child>.btn {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
    .filter-select.chosen-container-single .chosen-single,
    .filter-form .form-control,
    select.filter-form,
    .rest-header__order .form-control,
    .form-control,
    select.filter-select,
    .order-modal .form-control,
    select.chosen-select {
        height: 40px;
        padding: 8px 10px;
        font-size: 16px;
    }
    .rest-gall {
        width: 50%;
    }
    .rest-header__order .row .form-group {
        margin-bottom: 10px;
    }
    .filter-select.chosen-container-single .chosen-single div b:after {
        font-size: 13px;
    }
    .filter-select.chosen-container-single .chosen-single div b {
        line-height: 40px;
    }
    .filter-form__loc:after, .filter-form__date:after {
        font-size: 15px;
        right: 11px;
        top: 13px
    }
    .filter-form .btn {
        padding: 8px 10px;
    }
    .emp-login:hover {
        border: none;
        color: #F44D47;
    }
    .review-item__footer .form-group-inline label {
        font-size: 16px;
    }
    .star-rating:before, .star-rating span:before {
        font-size: 19px;
    }
    .pagination>li {
        padding: 0 2px;
    }
    .page-title {
        height: 150px;

    }
    h2 {
        font-size: 28px;
    }
    body {
        font-size: 16px;
    }
    blockquote {
        font-size: 18px;
        line-height: 24px;
    }
    .new-single__content p {
        line-height: 24px;
    }
    .page-title__back {
        top: 10px;
        padding: 5px 10px;
        font-size: 14px;
    }
    .schedule-day__checkbox {
        width: 70px;
    }
    .min-label, .max-label {
        font-size: 16px;
    }
    .upload-thumb-rest {
        width: 100%;
        height: auto;
        text-align: left;
    }
    .rest-header {
        height: 300px;
    }
    .rest-header__title {
        line-height: 40px;
    }
    .rest-header:after {
        opacity: 0.7;
    }
    .top-bar__btns .btn {
        padding: 7px 5px;
        font-size: 12px;
    }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
    .top-bar__btns .btn {
        padding: 4px 5px;
        font-size: 12px;
    }
    .header-home .main-menu {
        margin-top: 145px;
    }
    .top-bar__menu .dropdown-toggle {
        height: 30px;
        line-height: 30px;
        width: 30px;
        font-size: 18px;
    }
    .mob-menu {
        font-size: 37px;
        margin-top: 2px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }

    .page-subtitle {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-menu li {
        font-size: 14px;
    }
    .emp-login {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .header-page .main-menu {
        margin-top: 146px;
    }
    .header-page-result .main-menu {
        margin-top: 172px;
    }

    .review-item__footer {
        padding: 10px 10px 15px;
    }
    .stars-rew .star {
        font-size: 20px;
    }
    .gall-list-upload {
        display: block;
    }
    .gall-upload-item {
        width: calc(50% - 2px);
        margin-right: 2px;
        float: left;
        height: auto;
        display: block;
        min-height: 75px;
    }
    .gall-upload-item:nth-child(4n+4),
    .gall-upload-item:nth-child(3n+3) {
        margin-right: 2px;
    }
    .btn-lg {
        padding: 12px 10px;
        font-size: 16px;
    }

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .mob-menu-wrap,
    .mob-menu {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 1200px) {
    .container {
        width: 1200px;
    }
}
@media only screen and (min-width : 1400px) {
    .page-not-found {
        padding: 70px 0 400px;
    }
}
